*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#ff5f5f;
}

/* CONTAINER */
.search-box{
    display:flex;
    align-items:center;
    background:#fff;
    border-radius:50px;
    overflow:hidden;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

/* INPUT */
.search-box input{
    border:none;
    outline:none;
    padding:15px 20px;
    width:250px;
    font-size:14px;
    color:#666;
}

/* BOTÃO */
.search-box button{
    border:none;
    background:#ff5f5f;
    width:60px;
    height:50px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* ÍCONE */
.search-box button i{
    color:#fff;
    font-size:16px;
}
